.preview {
    display:inline-block;
}
.preview img {
    display:block;
    width: 100px;
    height: 100px;
}

.left-side {
    background-color: #494d4e;
    color: #fff;
}

.left-side a {
    color: #fff;
}

.right-side {
    background-color: #494d4e;
    color: #fff;
}

.right-side a {
    color: #fff;
}